@import "../../_mixins.scss";
.container {
    margin: 0 20px 100px;
    @include justify-content(center);
}

.container,
.todos-wrapper {
    @include flexbox;
    @include flex-wrap(wrap);
}

.todos-wrapper {
    @include align-items(flex-start);
    display: block;
    position: relative;
    box-sizing: border-box;
    // width: 784px;
    height: 700px;
}

.todos-container {
    max-width: 280px;
    min-width: 280px;
    display: inline-block;
    vertical-align: top;
    // position: absolute;
    margin: 16px;
    background: #fff;
    box-sizing: border-box;
}

.card-style {
    padding: 24px;
}

ul,
li {
    list-style: none;
    display: block;
    margin-bottom: 10px;
    @include flexbox;
    @include flex-direction(column);
}

li {
    color: #777;
    @include flex-direction(row);
    @include align-items(flex-start);
}

.checkbox {
    margin-right: 24px;
}

.completed textarea {
    text-decoration: line-through;
}

.todos__completed {
    padding-top: 20px;
}

.todos__actions,
.todos__completed {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.todos__actions {
    padding-top: 12px;
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    margin-bottom: 0;
}

.todos__actions li svg,
.action-container li svg {
    fill: #777;
}

.icon-delete {
    align-content: right;
    height: 18px;
    width: 18px;
    border-radius: 11px;
    background: #999;
    @include align-items(center);
    @include justify-content(center);
    display: none;
}

.icon-mark-all,
.icon-delete {
    cursor: pointer;
}

.icon-delete svg {
    fill: #fff;
}

li:hover .icon-delete {
    @include flexbox;
}

.title {
    font-size: 12px;
    color: #777;
}

.title-container {
    @include flexbox;
    position: relative;
    @include align-items(center);
    cursor: pointer;
}

.title-container svg {
    transform: rotate(90deg);
    margin-right: 20px;
}

.todos__list {
    padding-top: 24px;
}

.todos__list.hide {
    display: none;
}

.add-todo {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}

.icon-add svg {
    fill: rgba(0, 0, 0, 0.5);
}

.collapsed svg {
    transform: rotate(-90deg);
}

.theme-container {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(center);
    margin-bottom: 0;
    padding: 8px 12px 8px;
    background: #fff;
}

.theme-container li {
    @include align-items(center);
    margin-bottom: 0;
}

.theme {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    margin-right: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: transparent;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
}

.todos__actions li {
    margin-right: 8px;
}

.theme--green {
    background: #a8ffa8;
}

.theme--blue {
    background: #d9eeff;
}

.theme--red-light {
    background: #ff8a80;
}

.theme--yellow-light {
    background: #ffff8d;
}

.theme--cyan {
    background: #a7ffeb;
}

.theme--white {
    background: white;
}

// .theme-list {
//     margin-left: auto;
// }
.small {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    white-space: nowrap;
}

.icon-mark-all {
    @include flexbox;
    @include align-items(center);
}

.menu-more {
    margin-left: auto;
}

.menu-more,
.theme-more {
    margin-bottom: 0;
}

.todos__actions .menu-more {
    margin-right: 0;
}

.action-container {
    padding: 8px 12px 8px;
    margin-bottom: 0;
}

.add-new-task-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    @include flexbox;
    @include justify-content(center);
    padding: 8px;
    box-shadow: 30px 20px 50px 0 rgba(0, 0, 0, 0.1);
}

.add-new-task-wrapper span {
    cursor: pointer;
    display: inline-block;
}

.form-group {
    margin-bottom: 20px;
}

.form-group .name {
    font-size: 14px;
    font-weight: 700;
    color: #222;
}

.mat-input-element {
    color: rgba(0, 0, 0, 0.54);
}

.container-loader {
    position: fixed;
    left: 50%;
    right: 0;
    top: 50%;
    @include flexbox;
    @include justify-content(center);
    transform: translate(-50%, -50%);
}

$offset: 187;
$duration: 1.4s;
.spinner {
    animation: rotator $duration linear infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite, colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #4285F4;
    }
    50% {
        stroke: #4285F4;
    }
    75% {
        stroke: #4285F4;
    }
    100% {
        stroke: #4285F4;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: $offset;
    }
    50% {
        stroke-dashoffset: $offset/4;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: $offset;
        transform: rotate(450deg);
    }
}

@media screen and (min-width: 756px) {
    .add-new-task-wrapper {
        position: fixed;
        bottom: 0;
        height: 100%;
        width: initial;
        box-shadow: 30px -20px 50px 0 rgba(0, 0, 0, 0.1);
        @include align-items(center);
    }
    .todos-wrapper {
        max-width: 784px;
    }
}